*.xlsx
*.pem
*.dll
*.config
*.manifest
*.testlog
.vs/* 
*.log
*/obj/*
*/__pycache__/*
node_modules/*
core/.vs/*
core/*.js
core/*.js.map
ui/.vs/*
ui/*.js
ui/*.js.map
test/*.js
test/*.js.map
scripts/*.js
scripts/*.js.map
scripts/common/__pycache__/*
scripts/youtube/__pycache__/*
scripts/web/__pycache__/*
scripts/text/__pycache__/*
scripts/github/__pycache__/*
scripts/test/__pycache__/*
coverage/*
.nyc_output/*
dist/*
data/*


