*.xlsx
*.pem
*.dll
*.config
*.manifest
*.testlog
.vs/* 
*.log
*/obj/*
node_modules/*
core/.vs/*
core/*.js
core/*.js.map
ui/.vs/*
ui/*.js
ui/*.js.map
test/*.js
test/*.js.map
scripts/*.js
scripts/*.js.map
scripts/lib/__pycache__/*
*/__pycache__/*
coverage/*
.nyc_output/*
dist/*
data/*


